{% case fragment %}
	{% when 'head' %}
		<div class="section__head">
			<h2 class="section__title title--large">
				{{- 'customer.account.title' | t -}}
			</h2><!-- /.section__title -->
		</div><!-- /.section__head -->
	{% when 'sidebar' %}
		<aside class="section__aside">
			<h2>{{ 'customer.account.welcome' | t: name: customer.first_name }}</h2>
			<ul>
				<li{% if template == 'customers/account' or template == 'customers/account.edit' %} class="active"{% endif %}>
					<a href="/account">
						{{- 'customer.account.title' | t -}}
					</a>
				</li>

				<li{% if template.suffix == 'orders' or template == 'customers/order' %} class="active"{% endif %}>
					<a href="/account?view=orders">
						{{ 'customer.account.order_history' | t }}
					</a>
				</li>

				<li{% if template contains 'addresses' %} class="active"{% endif %}>
					<a href="/account/addresses">
						{{ 'customer.account.view_addresses' | t }}
					</a>
				</li>

				<li{% if template == 'customers/account.refer' %} class="active"{% endif %}>
					<a href="/account?view=refer">
						{{ 'customer.account.refer_friend' | t }}
					</a>
				</li>

				<li>
					{{- 'customer.account.log_out' | t | customer_logout_link -}}
				</li>
			</ul>
			{%- if settings.contact_text != blank -%}
				<div class="contact-text">
					{{ settings.contact_text }}
				</div><!-- /.contact-text -->
			{%- endif -%}
		</aside><!-- /.section__aside -->
{% endcase %}


{%- assign fragment = '' -%}
