{%- if url != blank and text != blank -%}
<a href="{{url}}" class="btn {% if btn_border %}btn--border{% endif %} {% if custom_class %}{{custom_class}}{% endif %}" {% if template contains 'product' %}target="_blank"{% endif %} {% if tabindex %}tabindex="-1"{% endif %} {% if border_color %}style="border-color: {{border_color}}; color: {{border_color}};"{% endif %}>  
    {{ text }}
  </a>
{%- endif -%}
