
{%- assign _section = section.settings -%}

{%- for block in section.blocks -%}
  {%- if block.type == 'carousel' -%}
    {%- assign carouselCount = carouselCount | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}

{%- for block in section.blocks -%}
  {%- assign _block = block.settings -%}
  {%- if carouselCount > 0 and forloop.index == 1 -%}
    <div class="carousel-alt carousel--hero" id="hpHeroCarouselAlt" role="banner">
  {%- endif -%}
  <div class="carousel__img" onClick="linkHeroBanner('{{_block.link_url}}')" onkeyup="linkHeroBanner('{{_block.link_url}}')">
    <div
      class="intro animate animated lazyload"
      data-bg="url({{_block.image | img_url: '2048x'}})"
      {% if _block.text_align == 'right' %}
        style="justify-content: flex-end"
      {% elsif _block.text_align == 'center' %}
        style="justify-content: center"
      {% endif %}
    >
        {%- if _block.imageMob -%}
          <div class="mobile-image visible-xs-block">
            {%- include 'lazyload-image' _image: _block.imageMob, original_width: '600' -%}
          </div><!-- /.mobile-image -->
        {%- endif -%}
        <!-- <div class="intro__content left-padding {% if _block.align_right %}right-padding right-text-align{% endif %} {% if _block.hide_text_desktop %}visible-xs-block{% endif %}"> -->
        <div
          class="intro__content
          {% if _block.text_align == 'left' %}
            left-padding
          {% elsif _block.text_align == 'right' %}
            right-padding right-text-align
          {% else %}
            center-text-align
          {% endif %}
          {% if _block.hide_text_desktop %}
            visible-xs-block
          {% endif %}"
          style="color: {{block.settings.text_color}};"
        >
          {%- if _block.eyebrow != blank -%}
            <h6>{{_block.eyebrow}}</h6>
          {%- endif -%}
          {%- if _block.title != blank -%}
            <h2 class="title--large">{{_block.title}}</h2>
          {%- endif -%}
          {%- if _block.subheader_text != blank -%}
            <h3>{{_block.subheader_text}}</h3>
          {%- endif -%}

          {%- if _block.promo_above != blank -%}
            <p class="intro__promo hidden-xs">{{ _block.promo_above }}</p>
          {%- endif -%}
          {%- if _block.promo_above_mobile != blank -%}
            <p class="intro__promo visible-xs-block">{{ _block.promo_above_mobile }}</p>
          {%- endif -%}

          <p {% if _block.align_right != blank %}class="right-float"{% endif %}>{{ _block.content }}</p>

          {%- if _block.promo != blank -%}
            <p class="intro__promo">{{ _block.promo }}</p>
          {%- endif -%}
          {% if _block.disclaimer_text_2 != blank %}
            <p class="intro__disclaimer no-top-margin">{{_block.disclaimer_text_2}}</p>
          {% endif %}

          <div class="clear-both"></div>
          {%- include 'link' url: _block.link_url, text: _block.link_text, tabindex: true, btn_border: true, border_color: {{block.settings.text_color}} -%}
          {% if _block.disclaimer_text != blank %}
            <p class="intro__disclaimer">{{_block.disclaimer_text}}</p>
          {% endif %}
        </div><!-- /.intro__content -->
        {%- if _block.bottom_text != blank -%}
          <div class="intro__bottom {% if _block.align_right %}right-float{% endif %}" {% if _block.align_right %}style="margin-right: {{_block.bottom_section_margin_right}}% !important;"{% endif %}>
            <span class="cloud">
              {%- include 'svg-icons' with 'cloud' -%}
            </span>
            <div class="intro__text">
              {{ _block.bottom_text }}
            </div>
            <div class="frog">
              <span class="eye eye--left">
                <i></i>
              </span>
              <span class="eye eye--right">
                <i></i>
              </span>
            </div><!-- /.frog -->
          </div><!-- /.intro__bottom -->
        {%- endif -%}
      </div><!-- /.intro -->
  </div>

  {%- if carouselCount > 0 and forloop.index == carouselCount -%}
    </div>
  {%- endif -%}
{%- endfor -%}

<style>
.carousel-alt .intro {
  display: flex;
  padding: 0;
  height: 100vh;
}

.carousel-alt .intro .intro__content {
  align-self: center;
  max-width: 50%;
}

.carousel-alt .intro h2 {
  margin-bottom: 30px;
}

.intro__content h3 {
  font-family: "Basis Grotesque Pro", Arial, Helvetica, sans-serif;
}

.intro__promo {
  margin-top: 40px;
  font-size: 25px;
  line-height: 35px;
}

.intro__disclaimer {
  font-size: .75em;
  margin-top: 40px;
}

.intro .intro__disclaimer.no-top-margin {
  margin-top: -10px;
}

@media screen and (min-width: 768px) and (max-width: 1300) {
  .carousel-alt .intro .intro__content {
    align-self: flex-end;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-alt .into .intro__content {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .intro h2 {
    font-size: 70px;
  }
}

@media screen and (max-width: 767px) {
  .intro__content h3 {
    font-size: 22px;
  }

  .carousel-alt .intro {
    display: block;
    height: auto;
    padding-bottom: 50px;
  }

  .carousel-alt .intro .intro__content {
    max-width: 100%;
    text-align: left;
    color: #084b6d !important;
  }

  .intro__content .intro__promo {
    font-size: 22px;
    line-height: 32px;
  }

  .intro__content.left-padding {
    padding-top: 20px;
  }
  .carousel-alt .intro .intro__content.center-text-align {
    text-align: center;
  }
  .carousel-alt .intro .intro__content.right-text-align {
    text-align: center;
  }

  .intro__content {
    color: #084b6d !important;
  }

  .intro__content h6 {
    display: none;
  }
  .intro__content h2 {
    font-size: 32px;
    margin-bottom: 7px !important;
  }
  .intro__content h3 {
    font-size: 20px;
    font-family: "Basis Grotesque Pro", Arial, Helvetica, sans-serif;
  }
  .intro__content .intro__promo {
    margin-top: 20px;
  }
  .intro .mobile-image {
    margin-bottom: 10px;
  }
  .intro p {
    margin-bottom: 20px;
  }
}

.intro__content.left-padding {
  text-align: left;
}

.intro__content h6 {
  margin-bottom: 45px;
  font-size: 17.5px;
}

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
<script>
  $(document).ready(function(){
    var heroSlider = tns({
      container: '.carousel-alt',
      items: 1,
      controls: false,
      autoplay: {{section.settings.enable_autoslide}},
      autoplayButtonOutput: false,
      autoplayTimeout: {{section.settings.autoslide_time | times: 1000}},
      autoplayHoverPause: {{section.settings.autoplayHoverPause}}
    });
  });

  function linkHeroBanner(link) {
    window.location.href = link;
  }
</script>

{% schema %}
{
  "name": "Advent Hero",
  "settings": [
    {
      "id": "enable_autoslide",
      "type": "checkbox",
      "label": "Enable Autoslide"
    },
    {
      "id": "autoslide_time",
      "type": "range",
      "min":       2,
      "max":       12,
      "step":      1,
      "label": "Autoslide Time (Seconds)",
      "default":   5
    },
    {
      "id": "autoplayHoverPause",
      "type": "checkbox",
      "label": "Pause Autoslide on hover"
    }
  ],
  "blocks": [
    {
      "name": "Carousel image",
      "type": "carousel",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "imageMob",
          "type": "image_picker",
          "label": "Image (Mobile)"
        },
        {
          "id": "text_color",
          "type": "color",
          "label": "Text Color",
          "default": "#ffffff"
        },
        {
          "id": "eyebrow",
          "type": "text",
          "label": "Eyebrow Text"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subheader_text",
          "label": "Subheader Text"
        },
        {
          "id": "promo_above",
          "type": "textarea",
          "label": "Promo (Desktop Only)"
        },
        {
          "id": "promo_above_mobile",
          "type": "textarea",
          "label": "Promo (Mobile Only)"
        },
        {
          "id": "content",
          "type": "textarea",
          "label": "Content"
        },
        {
          "id": "promo",
          "type": "textarea",
          "label": "Promo"
        },
        {
          "type": "textarea",
          "id": "disclaimer_text_2",
          "label": "Disclaimer Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "textarea",
          "id": "disclaimer_text",
          "label": "Disclaimer Text"
        },
        {
          "type":      "select",
          "id":        "text_align",
          "label":     "Text Align",
          "options": [
            { "value": "left", "label": "Left"},
            { "value": "center", "label": "Center"},
            { "value": "right", "label": "Right"}
          ],
          "default":   "left"
        },
        {
          "type": "checkbox",
          "id": "hide_text_desktop",
          "label": "Hide Text on Desktop",
          "default": false
        },
        {
          "type": "range",
          "id": "bottom_section_margin_right",
          "label": "Bottom Animation Margin Right",
          "unit": "%",
          "min": 10,
          "max": 70,
          "step": 1,
          "default": 13
        }
      ]
    }
  ]
}
{% endschema %}